@import 'tailwindcss';

:root {
   --foreground: #ffffff;
   --background: #171717;
}

@theme inline {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --font-sans: var(--font-geist-sans);
   --font-mono: var(--font-geist-mono);
}

body {
   color: var(--foreground);
   font-family: Arial, Helvetica, sans-serif;
   background-color: #0a0a0a;
   background-image:
      linear-gradient(45deg, rgba(255, 255, 255, 0.02) 1px, transparent 1px),
      linear-gradient(-45deg, rgba(255, 255, 255, 0.03) 1px, transparent 1px);
   background-size: 20px 20px;
}
