name: Deployment
on:
    workflow_run:
        workflows: ["CI"]
        types:
            - completed

jobs:
    deploy:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v4

            - name: Deploy to VPS
              uses: appleboy/ssh-action@v1.2.4

              with:
                  host: ${{ secrets.DEPLOY_HOST }}
                  username: ${{ secrets.DEPLOY_USER }}
                  key: ${{ secrets.DEPLOY_KEY }}
                  port: ${{ secrets.DEPLOY_PORT }}
                  script: |
                      cd Portfolio
                      git pull origin main
                      npm install
                      npm run build
                      pm2 restart portfolio || pm2 start npm --name "portfolio" -- start
                      pm2 save
                      exit
